.comment-list {
  list-style: none;
  color: $black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 50em) {
    padding: 0 15px;
  }

  li {
    padding-bottom: 1em;
    margin-bottom: 1em;
    &:not(:last-child) {
      border-bottom: 1px solid $light-grey;
    }

    .comment-content {
      padding-top: 0.5em;
      font-size: 14px;

      .comment-author {
        color: $accent-color;
      }

      div:first-child {
        padding-bottom: 0.5em;
        color: $secondary-color;
      }

      button.comment-counter {
        border: none;
        background: transparent;
        color: $accent-color;
        margin-left: 5px;
        padding: 0;
        cursor: pointer;
      }
    }

    .child-comment {
      padding-left: 1em;
      margin-left: 1em;
      border-left: 1px solid $light-grey;
    }
  }
}

.comment-parent {
  a {
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    color: $black;
    &:hover {
      color: $accent-color;
    }
  }

  .parent-text {
    padding: 10px 0;
    font-size: 14px;
  }
}
