.comment-list {
  list-style: none;
  color: $black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  li {
    padding-bottom: 1em;
    margin-bottom: 1em;
    &:not(:last-child) {
      border-bottom: 2px solid $light-grey;
    }

    .comment-content {
      padding-top: 1em;
    }

    .child-comment {
      padding-left: 0.5em;
      margin-left: 1em;
      border-left: 1px solid $light-grey;
    }
  }
}
