hn-loading-spinner {
  color: var(--hn-loading-spinner-color, #006fbf);
  display: inline-block;
  text-align: initial;

  .hn-loading-spinner-wrapper {
    height: var(--hn-loading-spinner-size, 50px);
    margin: auto;
    overflow: hidden;
    position: relative;
    width: var(--hn-loading-spinner-size, 50px);
  }

  svg path,
  svg rect {
    fill: var(--hn-loading-spinner-color, #006fbf);
  }
}
